.outer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 100%; /* Ensure full width */
  justify-content: space-evenly;

}

.card {
  width: 200px; /* Set a fixed width for the cards */
  background-color: #ffb380;
  border-radius: 0.5rem;
  margin: 6px; /* Adjust margin as needed */
  word-wrap: break-word; /* Allow content to wrap within the card */
  box-sizing: border-box; /* Include padding and border in the width */
}

.content {
  padding: 10px;
}

.heading {
  margin-top: 0;
  max-width: 100%;
}

.date {
  margin-top: 5px;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .card {
    flex-basis: calc(
      25% - 12px
    ); /* Adjust for smaller screens (e.g., tablets) */
  }
}

@media (max-width: 768px) {
  .card {
    flex-basis: calc(
      33.33% - 12px
    ); /* Adjust for smaller screens (e.g., mobile devices) */
  }
}

@media (max-width: 576px) {
  .card {
    flex-basis: calc(
      50% - 12px
    ); /* Adjust for smaller screens (e.g., smartphones) */
  }
}
